
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,
.col-sm-12,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,
.col-md-12,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,
.col-lg-12,.col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,
.col-xl-11,.col-xl-12{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




:root{
    /* ------------------- COLOR----------------- */
    --light: #f8f9fa;
    --dark: rgba(120, 120, 120, 0.603);
    --white: #fff;
    --gray:#343a40;
    --orange: #e7bd9a;
    /* --------------------------------------------------- */

    /* ---------------FONT-SIZE-----------------------*/
    --font-1:13px;
    --font-2:18px;
    --font-3:23px;
    --font-4:28px;
    --font-5:32px;
    --font-6:37px;
    --font-7:42px;
    --font-8:47px;
    --font-9:52px;
/* ------------------------------------------------- */

/* -------------------SPACING------------------------- */
    --space-0:0px;
    --space-1:5px;
    --space-2:10px;
    --space-3:15px;
    --space-4:20px;
    --space-5:25px;
    --space-6:30px;
    --space-7:35px;
    --space-8:40px;
    --space-9:45px;
    --space-10:50px;
/* ----------------------------------------------- */

/* -------------------PADDING------------------------- */
    --padding-0:var(--space-0);
    --padding-1:var(--space-1);
    --padding-2:var(--space-2);
    --padding-3:var(--space-3);
    --padding-4:var(--space-4);
    --padding-5:var(--space-5);
    --padding-6:var(--space-6);
    --padding-7:var(--space-7);
    --padding-8:var(--space-8);
    --padding-9:var(--space-9);
    --padding-10:var(--space-0);
/* -------------------------------------------------- */

/* -----------------MARGIN------------------------------ */
    --margin-0:var(--space-0);
    --margin-1:var(--space-1);
    --margin-2:var(--space-2);
    --margin-3:var(--space-3);
    --margin-4:var(--space-4);
    --margin-5:var(--space-5);
    --margin-6:var(--space-6);
    --margin-7:var(--space-7);
    --margin-8:var(--space-8);
    --margin-9:var(--space-9);
    --margin-10:var(--space-10);
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: var(--space-3);
    margin-left: var(--space-3);
}
.row{
    display: block;
    margin: auto;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
  
.header{
    background-color:var(--dark);
    color: var(--white);
}

.header-top{
    padding: var(--padding-1);
    font-size: var(--font-2);
    border-bottom: 1px solid var(--white);
}

.header-middle{
    padding: var(--padding-8);
}

.welcome-text{
    font-size: 14px;
    font-style: sans-serif;
    display: none;
}
.header-top-nav{
    text-align: center;
}
.top-nav-menu{
    position: relative;
    display: inline-block;
}

.top-nav-menu  a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: var(--font-1);
    margin: 0 var(--space-1);
}

.top-nav-menu-link:hover{
    color: var(--gray);
}

.top-nav-menu li{
    list-style-type: none;
    display: inline-block;
    border-left: 1px solid white;
    padding: 0 var(--space-1);
}


.top-nav-submenu{
    display: none;
    position: absolute;
}

.top-nav-submenu > a{
    width: 100px;
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
    padding-left: var(--space-3);
    padding-right: var(--space-2);
    text-align: right;
    text-decoration: none;
    display: block;
    background-color: white;
    color:grey;
}


.top-nav-menu-list:hover .top-nav-submenu{
    display: block;
}

.top-nav-submenu > a:hover{
    color: var(--orange);
}

.fa-angle-down{
    padding: 0;
}
[class*="col-"] {
    float: left;
    padding: var(--space-1);
    margin: 0px;
    text-align: center;
}

.logo{
    padding-top: var(--space-5);
    padding-left: var(--space-0);
    padding-bottom: var(--space-5);
    padding-right: var(--space-0);
    float: left;
}
.email-image{
    display: none;
    text-align: left;
    padding: var(--space-5) var(--space-0);
    font-size: 13px;
}
.header-search{
    background: #ffffff none repeat scroll 0 0;
    border-radius: var(--space-6);
    float:left;
    height: var(--space-8);
    margin: var(--space-9) var(--space-0);
    position: relative;
    width: 470px;
}

.header-search input{
    border: 0 none;
    border-color: transparent;
    color: #a1a1a1;
    font-size: 14px;
    height: 100%;
    border-radius: var(--space-6);
    padding: 0 52px 0 25px;
}
input,textarea{
    background: rgba(0,0,0,0) none repeat scroll 0 0;
    width: 100%;
    box-shadow: none;
}
.header-search button{
    background: rgba(0,0,0,0) none repeat scroll 0 0;
    border: none;
    color: #535353;
    font-size: 18px;
    height: 100%;
    line-height: var(--space-8);
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 60px;
    cursor: pointer;
}
.fa-search{
    box-sizing: border-box;
    color:#0000008e
}
/* For mobile phones: */
[class*="col-"] {

    width: 100%;
}

@media only screen and (min-width: 375px) {
    /* For small screen */
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}

    .header-middle{
        padding: var(--padding-0);
        margin-left: -15px;
      
    }
    
    .header-search{
        float: left;
        height: 36px;
        margin: 18px 18px 12px 0;
        width: 60%;
    }

    .logo{
        padding-bottom: var(--space-0);
        margin-bottom: -20px;
    }

    .cart-box-wrapper{
        padding:var(--padding-2);
        float: left;
        margin-left: -25px;
    }
    .cart-info{
        display: block;
        padding: var(--padding-1) var(--padding-2);
    }
    .cart-box-wrapper > a{
        text-decoration: none;
        font-size: var(--font-3);
        color: var(--white);
    }
    img.cart-icon {
        display: inline-block;
        height: var(--space-5);
        width: var(--space-5);
        padding-bottom: 0px;
        margin-bottom: -5px;
    }
    span.cart-item-quantity {
        display: inline-block;
        background: #85979d;
        border-radius: 50%;
        width: var(--space-5);
        font-size: var(--font-2);
        margin-left: var(--margin-1);
        line-height: var(--font-4);
    }
}

@media only screen and (min-width: 768px) {
    /* For medium screen */
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
    
    
    .welcome-text{
        display: inline-block;
    }
    .header-top-nav{
        text-align: right;
        margin-right: var(--space-9);
    }

    .logo{
        width: 150px;
        height: 36.45px;
    }
    
}

@media only screen and (min-width: 992px) {
    /* For large screen */
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
    
    .top-nav-menu li{
        list-style-type: none;
        display: inline-block;
        border-left: 1px solid white;
        padding: 0 var(--space-3);
    }
    .logo{
        width: 181px;
        height: 44px;
    }
    .email-image{
        display: block;
    }
   
}
  @media only screen and (min-width: 1200px) {
    /* For extra large screen */
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}

    .logo{
        width: 100%;
        height: 100%;
    }
  }